# Thư mục cấu hình của Visual Studio
.vs/
.vscode/

# Thư mục build output của Visual Studio
bin/
obj/

# Thư mục cấu hình của hệ điều hành
.DS_Store
Thumbs.db

# Thư mục node_modules của Angular
ClientApp/node_modules/

# Thư mục build output của Angular
ClientApp/dist/

# Các file log
*.log

# Các file tạm thời
*.tmp
*.temp

# Các file lock
*.lock

# Các file cấu hình người dùng
*.user
*.suo
*.userosscache
*.sln.docstates